.post-summary{
  float:left;
  width:33%;
  margin-bottom: 50px;
}

.author{
  border-bottom: solid 2px #000;
  color:#000 !important;
  padding-bottom: 6px;
}

.author .name a{
  text-decoration: none;
  color:#000 !important;
}

.helpfulreading-title a{
  text-decoration: none !important;
  color:#000 !important;
}

.content{
  padding: 0 50px;
}

.content .main-content{
  padding: 0;
}

.most-popular h5{
  padding-bottom: 6px;
}

.popular-posts .nav li{
    padding: 5px 0;
    border-bottom: 1px solid #000;
}

.popular-posts .nav li a{
  padding: 5px 0;
  text-decoration: none;
  color: #000;
}

.subscribe-form{
  margin-top: 20px;
}

.subscribe-form input.email{
  height:34px;
  width: 100%;
  margin: 0;
  padding: 0 0 0 7px;
}

.featured-text{
  font-size: 60px;
  line-height: 54px;
}

.lead-blog{
  margin-top: 15px;
}

.post-summary h2 {
  margin: 8px 0 0 0;
  font-size:23px;
  line-height: 23px;
}

#Form_FilterForm label{
  display:none;
}

.category-filter{
  float:left;
  width:40%;
}

.filter-btn{
  float:left;
}

.subscribe-form .subscribe-btn{
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    color:#313b96;
    /*border is optional*/
    border-bottom:2px solid #313b96; 
    cursor: pointer;
    height: 18px;
    text-align: left;
    width: 83px;
    font-family: 'gibsonsemibold';
        margin-top: 10px;
        font-size: 12px;
}

@media (max-width: 767px) {
  .helpfulreading-title.lead-blog a {
    font-size: 36px !important;
    line-height: 36px;
  }
  .featured-text {
      font-size: 36px;
      line-height: 30px;
      padding-bottom: 30px;
  }

  .category-filter {
    float: left;
    width: 49%;
}
}