/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */

@import "typography.css?2";
body.mceContentBody{font-size:13px;}

.t1{
  font-family: 'gibsonsemibold';
  font-size: 133px;
  color:#303B95;
}
.t2{
  font-family: 'gibsonsemibold';
  font-size: 25px;
  color:#000;
}
.t2-plus{
  font-family: 'gibsonlight';
  font-size: 25px;
  color:#000;
}
.t3{
  font-family: 'gibsonregular';
  font-size:24px;
  color:#000;
}
.t3-plus{
  font-family: 'gibsonregular';
  font-size:24px;
  color:#303B95;
}
.t4{
  font-family: 'gibsonsemibold';
  font-size:19px;
  color:#000;
}
.t5{
  font-family: 'gibsonlight';
  font-size:19px;
  color:#000;
}
.t6{
  font-family: 'gibsonregular';
  font-size:19px;
  color:#000;
}
.t7{
  font-family: 'gibsonsemibold';
  font-size:19px;
  color:#303B95;
  text-decoration: underline;
}