h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: canada-type-gibson, sans-serif;
  color: #333541;
  /*font-weight: 300;*/
  margin: 0;
  text-transform: uppercase;
  /*text-rendering: optimizelegibility;*/

}
h6 {
  font-size: 13px;
  text-transform: none;
}
body {
  padding: 0;
  height: 100%;
  color: #333541;
  overflow: hidden;
  background-color: #fff;
  font-size: 14px;
  font-family: canada-type-gibson, sans-serif;
}

a {
  color: #343997;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #343997;
}

/* #Header
================================================== */

div.page {
  border: 1px solid #eee;
  padding: 0;
  color: #333541;
  position: relative;
}

.page .header {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 22px 50px;
  /*position: fixed;*/
  width: 100%;
  z-index: 1001;
  margin: 0;
}

.header .title {
  float: left;
  font-size: 25px;
  font-weight: bolder;
}

.header .nav-button {
  float: right;
  margin-top: 5px;
  background-color: #fff;
  border: none;
}

.header .fa-bars, .header .fa-times {
  font-size: 25px;
  font-weight: lighter;
  color: #333742;
}

.header .phone-icon {
  float: right;
  margin-top: 5px;
  margin-right: 30px;
}

.header .primary {
  position: absolute;
  top: 0;
  right: 0;
}

.header .primary {
  display: none;
}


/* #Recent Articles
================================================== */
.recent-article {
  padding: 0px 35px;
  line-height: 20px;
  font-size: 10px;
}

.recent-article .article-links {
  border-top: 2px solid #686870;
  border-bottom: 2px solid #686870;
  padding: 5px 0;
  margin-bottom: 25px;
}

.recent-article .article-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-article .article-links li {
  padding: 5px 0;
  border-bottom: 1px solid #9a9a9c;
}

.recent-article .article-links li:last-child {
  border: none;
}

/* #Home
================================================== */

.homepage.photo1 img,
.homepage.photo2 img
{
  width: 100%;
  height: auto;
}

.main-content {
  padding: 55px;
}

.main-content .page-description {
  text-align: center;
  padding: 30px;
  font-size: 26px;
}

.main-content .page-links {
  margin-top: 70px;
}

.main-content .business a{
  float: right;
}

.main-content .personal a{
  float: left;
}

/* #Footer
================================================== */
#footer {
  padding: 0 50px;
  margin-top: 100px;
  font-size: 10px;
}

#footer .footer-content {
  border-top: 5px solid;
  padding: 45px 0;
}

#footer .phone-number h2 {
  margin-left: 5px;
}

#footer .address {
  line-height: 20px;
}

#footer .social-networks {
  margin: 0;
  padding: 0;
}

#footer .social-networks a {
  margin-right: 10px;
}

#footer .copyright {
  padding: 15px;
}


@media (max-width: 767px) {
  .page .header {
    padding: 22px 50px;
  }

}